<h1>Welcome {{ user.username }}!</h1>

<p>
    You signed up with the following email as a cook:
</p>
<p><code>{{ user.email }}</code></p>

<p>
    <a href="#">Click here to activate your account</a>
    this link is valid until jensaisrien
</p>